.backoffice {
    padding: 50px 0 0 0;
    .toolbar {
        display: flex;
        justify-content: space-between;
        align-self: center;
        gap: 30px;
        padding: 20px;
        border-radius: 50px;
        background-color: var(--secondBackgroundColor);
        width: fit-content;
        color: var(--mainTextColor);
            button {
                padding: 10px 20px;
                border: none;
                background-color: var(--secondColor);
                cursor: pointer;
                border-radius: 20px;
                font-size: 24px;
                font-weight: 600;
                transition: filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
            &.active {
                background-color: var(--mainColor);
                color: var(--secondTextColor);
                cursor: default;
            }
            &:hover:not(.active) {
                filter: brightness(0.8);
            }
        }
    }
    .manage {
        padding: 0 0 50px 0;
        .addDell {
            margin: 0 0 50px 0;
            display: flex;
            justify-content: space-between;
            justify-self: center;
            gap: 30px;
            padding: 20px;
            border-radius: 50px;
            background-color: var(--secondBackgroundColor);
            width: fit-content;
            color: var(--mainTextColor);
                button {
                    padding: 10px 20px;
                    border: none;
                    background-color: var(--secondColor);
                    cursor: pointer;
                    border-radius: 20px;
                    font-size: 24px;
                    font-weight: 600;
                    transition: filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
                &.active {
                    background-color: var(--mainColor);
                    color: var(--secondTextColor);
                    cursor: default;
                }
                &:hover:not(.active) {
                    filter: brightness(0.8);
                }
            }
        }
        .conteneur {
            margin: 0 50px;
            padding: 50px;
            background-color: var(--secondBackgroundColor);
            border-radius: 50px;
        }
    }
    .orders {
        padding: 0 0 50px 0;
        .switch {
            margin: 0 0 50px 0;
            display: flex;
            justify-content: space-between;
            justify-self: center;
            gap: 30px;
            padding: 20px;
            border-radius: 50px;
            background-color: var(--secondBackgroundColor);
            width: fit-content;
            color: var(--mainTextColor);
            button {
                padding: 10px 20px;
                border: none;
                background-color: var(--secondColor);
                cursor: pointer;
                border-radius: 20px;
                font-size: 24px;
                font-weight: 600;
                transition: filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
                &.active {
                    background-color: var(--mainColor);
                    color: var(--secondTextColor);
                    cursor: default;
                }
                &:hover:not(.active) {
                    filter: brightness(0.8);
                }
            }
        }
        .conteneur {
            margin: 0 50px;
            padding: 50px;
            background-color: var(--secondBackgroundColor);
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            .loading,
            .empty {
                text-align: center;
                font-size: 20px;
                color: var(--mainTextColor);
                padding: 30px;
            }
            .list {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .info {
                            display: flex;
                            align-items: center;
                            gap: 50px;
                            .preview {
                                width: 120px;
                                flex-shrink: 0;
                                img {
                                    height: 150px;
                                    aspect-ratio: 4 / 5;
                                    object-fit: cover;
                                    border-radius: 10px;
                                }
                            }
                            .name {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                width: 200px;
                                flex-shrink: 0;
                                p {
                                    overflow: hidden;
                                }
                            }
                            p {
                                width: 150px;
                                flex-shrink: 0;
                            }
                            .total {
                                font-weight: 700;
                                width: 100px;
                                flex-shrink: 0;
                            }
                            .status {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                width: 150px;
                                flex-shrink: 0;
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 60px;
                                    color: var(--mainColor);
                                }
                                .label {
                                    width: 120px;
                                    text-align: center;
                                }
                            }
                        }
                        .buttons {
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            button {
                                padding: 15px 30px;
                                border: none;
                                border-radius: 25px;
                                font-size: 24px;
                                cursor: pointer;
                                transition: color 0.3s ease, background-color 0.3s ease;
                                white-space: nowrap;
                                &.print {
                                    background-color: var(--mainColor);
                                    color: var(--secondTextColor);
                                    &:hover {
                                        background-color: var(--secondColor);
                                        color: var(--mainTextColor);
                                    }
                                }
                                &:not(.print) {
                                    background-color: var(--mainColor);
                                    color: var(--secondTextColor);
                                    &:hover {
                                        background-color: var(--secondColor);
                                        color: var(--mainTextColor);
                                    }
                                }
                            }
                        }
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .tracking {
                            display: flex;
                            justify-content: space-between;
                            .step {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 60px;
                                    margin-bottom: 15px;
                                    z-index: 2;
                                    color: var(--thirdColor);
                                    position: relative;
                                }
                                .label {
                                    width: 120px;
                                    text-align: center;
                                }
                                .line {
                                    position: absolute;
                                    top: 40px;
                                    left: calc(100% + 40px);
                                    width: calc(100% - 80px);
                                    border-top: 10px dotted rgba(255, 255, 255, 0.3);
                                    z-index: 1;
                                }
                                &.active {
                                    .icon {
                                        color: var(--mainColor);
                                    }
                                    .label {
                                        color: var(--mainColor);
                                    }
                                    .line {
                                        border-top-color: var(--mainColor);
                                    }
                                }
                            }
                        }
                        .content {
                            display: flex;
                            justify-content: space-between;
                            h3 {
                                color: var(--mainColor);
                            }
                            .infos{
                                display: flex;
                                flex-direction: column;
                                gap: 30px;
                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }
                            }
                            .products {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 30px;
                                .product {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: 10px;
                                    img {
                                        height: 200px;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                        .actions {
                            display: flex;
                            gap: 30px;
                            justify-content: center;
                            button {
                                padding: 15px 30px;
                                border: none;
                                border-radius: 25px;
                                font-size: 24px;
                                cursor: pointer;
                                transition: color 0.3s ease, background-color 0.3s ease;
                                white-space: nowrap;
                                &.print {
                                    background-color: var(--mainColor);
                                    color: var(--secondTextColor);
                                    &:hover {
                                        background-color: var(--secondColor);
                                        color: var(--mainTextColor);
                                    }
                                }
                                &.cancel {
                                    background-color: #e74c3c;
                                    color: white;
                                    &:hover {
                                        background-color: #c0392b;
                                    }
                                }
                                &.return {
                                    background-color: #f39c12;
                                    color: white;
                                    &:hover {
                                        background-color: #e67e22;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}