.cart {
    padding: 50px 0;
    .conteneur {
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .loginFav {
            display: flex;
            flex-direction: column;
            gap: 30px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 50px;
                font-size: 32px;
                border-radius: 50px;
                border: 3px solid transparent;
                box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transition: border-color 0.3s ease;
                background-color: var(--secondBackgroundColor);
                width: 100%;
                img {
                    height: 40px;
                    width: auto;
                    margin-right: 10px;
                }
                &:hover {
                    border: 3px solid var(--mainColor);
                }
            }
        }
        .listTotal {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .list {
                width: 50%;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 50px;
                .item {
                    display: flex;
                    align-items: center;
                    gap: 50px;
                    .image {
                        width: 40%;
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                    }
                    .remove {
                        width: fit-content;
                        padding: 10px 15px;
                        background-color: var(--mainColor);
                        color: white;
                        border: none;
                        border-radius: 25px;
                        cursor: pointer;
                        transition: background-color 0.3s ease, color 0.3s ease;
                    }
                    .remove:hover {
                    background-color: var(--secondColor);
                    color: black;
                    }
                }
            }
            .total {
                width: 40%;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 50px;
                font-size: 24px;
                font-weight: 800;
                .valider {
                    padding: 15px;
                    border: none;
                    border-radius: 30px;
                    background-color: var(--secondColor);
                    color: black;
                    font-size: 24px;
                    font-weight: 700;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.3s ease;
                }
                .valider:hover {
                    background-color: var(--mainColor);
                    color: white;
                }
            }
        }
    }
}