.success {
    padding: 50px 0;
    min-height: 60vh;
    .conteneur {
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        text-align: center;
        .message {
            font-size: 24px;
            margin: 30px 0;
            color: var(--mainTextColor);
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            p {
                font-size: 20px;
                color: var(--mainTextColor);
            }
            .button {
                padding: 15px 40px;
                font-size: 24px;
                font-weight: 700;
                border-radius: 30px;
                background-color: var(--mainColor);
                color: var(--secondTextColor);
                text-decoration: none;
                transition: background-color 0.3s ease;
                &:hover {
                    background-color: var(--secondColor);
                    color: var(--mainTextColor);
                }
            }
        }
    }
}