.filter {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
    width: fit-content;
    button {
        padding: 10px 20px;
        background: var(--secondColor);
        cursor: pointer;
        border-radius: 20px;
        border: none;
        font-size: 24px;
        font-weight: 600;
        transition: filter 0.3s ease, background-color 0.3s ease, color 0.3s ease;
        &.active {
            background-color: var(--mainColor);
            color: var(--secondTextColor);
            cursor: default;
        }
        &:hover:not(.active) {
            filter: brightness(0.8);
        }
    }
}