.payment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    .error {
        padding: 15px 20px;
        background-color: transparent;
        color: var(--secondErrorColor);
        border: 2px solid var(--secondErrorColor);
        border-radius: 20px;
        font-size: 16px;
        text-align: center;
    }
    .button {
        width: 100%;
        padding: 20px;
        font-size: 28px;
        font-weight: 700;
        border: none;
        border-radius: 30px;
        background-color: var(--mainColor);
        color: var(--secondTextColor);
        cursor: pointer;
        transition: background-color 0.3s ease;
        &:hover:not(:disabled) {
            background-color: var(--secondColor);
            color: var(--mainTextColor);
        }
        &:disabled {
            background-color: var(--thirdBackgroundColor);
            color: var(--thirdColor);
            cursor: not-allowed;
        }
    }
}
