.landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 100%;
        height: auto;
    }
    .intro{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        margin: 100px 100px 0 100px;
        .title{
            font-size: 40px;
        }
        .contenu{
            font-size: 32px;
        }
        .warning{
            font-size: 24px;
        }
    }
}
.new {
    margin: 50px 0 0 0;
    .conteneur {
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgoundColor);
        border-radius: 50px;
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            justify-content: center;
        }
    }
}
.product {
  margin: 50px 0 0 0;
    .conteneur {
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgoundColor);
        border-radius: 50px;
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            justify-content: center;
        }
    }
}
.event {
    margin: 50px 0 0 0;
    .conteneur {
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgoundColor);
        border-radius: 50px;
        h2 {
            margin-bottom: 30px;
        }
        .calendarMap {
            display: flex;
            gap: 50px;
            .mapContaineur {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .map {
                    flex-grow: 1;
                    height: 100%;
                }
                .name {
                    font-size: 32px;
                    margin-top: 50px;
                    padding: 30px;
                    border-radius: 50px;
                    text-align: center;
                    background-color: var(--mainBackgroundColor);
                }
            }
        }
    }
}
.contact{
    margin: 50px 0 0 0;
    .conteneur{
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgoundColor);
        border-radius: 50px;
        .intro{
            text-align: center;
            font-size: 28px;
        }
    }
}