:root {
    --mainColor: #6F826A;
    --secondColor: #BBD8A2;
    --thirdColor: #808080;
    --mainBackgroundColor: #F8E7C8;
    --secondBackgroundColor: #ffffff;
    --thirdBackgroundColor : #ddd;
    --mainTextColor: #24191C;
    --secondTextColor: #ffffff;
    --favoryColor: #9E552D;
    --reservedColor: #9E552D;
    --errorColor: #a51f08;
    --secondErrorColor: #d82b0c;
    --productImageRadius: clamp(20px, 15%, 60px);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px 0 0 0 ;
    background-color: var(--mainBackgroundColor);
    background-image: url("/fond.webp");
    background-repeat: repeat;
    background-position: top left;
    background-size: auto;
    overflow-x: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 96px;
    font-weight: 400;
    color: var(--mainTextColor);
}
p{
    font-size: 20px;
    color: var(--mainTextColor);
}
ul,li{
    list-style: none;
}