.hero{
    height: calc(100vh - 80px);
    background: url('/acceuil.webp') no-repeat center center / cover;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .intro{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        margin: 0 50px;
        .title{
            font-size: 40px;
        }
        .contenu{
            font-size: 32px;
        }
        .warning{
            font-size: 24px;
        }
    }
}
.new {
    .conteneur {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 50px;
        padding: 30px 50px 50px 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
            justify-content: center;
        }
    }
}
.products {
    .conteneur {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 0 50px;
        padding: 30px 0 50px 0;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .carouselContaineur {
            width: 100%;
            transition: opacity 0.5s ease;
            opacity: 1;
        }
        .carouselContaineur.fade {
            opacity: 0;
        }
    }
}
.event {
    .conteneur {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 50px;
        padding: 30px 50px 50px 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .calendarMap {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            align-items: center;
            gap: 50px;
            .eventInfo {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                .name {
                    font-size: 32px;
                    padding: 30px;
                    border-radius: 50px;
                    text-align: center;
                    background-color: var(--mainBackgroundColor);
                }
                .address {
                    font-size: 24px;
                    text-align: center;
                }
                .gmapLink {
                    padding: 15px 30px;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: bold;
                    text-decoration: none;
                    color: white;
                    background-color: var(--mainColor);
                    transition: background-color 0.3s ease, color 0.3s ease;
                    &:hover {
                        background-color: var(--secondColor);
                        color: black;
                    }
                }
            }
            .mapContaineur {
                height: 100%;
                .map {
                    height: 100%;
                }
            }
        }
    }
}
.contact{
    padding: 0 0 50px 0;
    .conteneur{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin: 0 50px;
        padding: 30px 50px 50px 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .intro{
            text-align: center;
            font-size: 28px;
        }
    }
}
.deleted {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    .modal {
        background: white;
        padding: 50px;
        border-radius: 50px;
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        cursor: default;
        .buttons {
            display: flex;
            gap: 30px;
            justify-content: center;
            button {
                width: 50%;
                padding: 10px;
                font-size: 18px;
                font-weight: bold;
                border: none;
                border-radius: 15px;
                cursor: pointer;
                background-color: var(--mainColor);
                color: white;
                transition: background-color 0.3s ease, color 0.3s ease;
                &:hover {
                    background-color: var(--secondColor);
                    color: black;
                }
            }
        }
    }
}