.carousel {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .controls {
        position: absolute;
        top: 48%;
        left: 12.5px;
        right: 12.5px;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        button {
            background: transparent;
            border: none;
            svg {
                width: 30px;
                height: 30px;
                color: var(--mainColor);
                transition: color 0.3s ease;
                &:hover {
                    color: var(--secondColor);
                }
            }
        }
    }
    .items {
        overflow: hidden;
        width: 100%;
        .inner {
            display: flex;
            transition: transform 1s ease;
        }
        .page {
            align-items: start;
            flex: 0 0 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 30px;
            padding: 0 50px;
        }
    }
}