.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    img {
        border-radius: 50px;
        width: 100%;
        aspect-ratio: 4/5;
        object-fit: cover;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .prix {
        font-size: 24px;
        font-weight: 800;
    }
}
.card.skeleton {
    pointer-events: none;
    .image-placeholder {
        width: 100%;
        aspect-ratio: 4 / 5;
        background-color: #ddd;
        border-radius: 50px;
    }
    .text-placeholder {
        height: 29px;
        background-color: #ddd;
        border-radius: 10px;
    }
    .text-placeholder.short {
        width: 80%;
        margin: 0 auto;
    }
    .text-placeholder.long {
        width: 30%;
        margin: 0 auto;
    }
}