.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    img {
        border-radius: 50px;
        width: 100%;
        aspect-ratio: 4 / 5;
        object-fit: cover;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .prix {
        font-size: 24px;
        font-weight: 800;
    }
}