.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    .image {
        position: relative;
        overflow: hidden;
        img {
            border-radius: var(--productImageRadius);
            width: 100%;
            aspect-ratio: 4 / 5;
            object-fit: cover;
            display: block;
        }
        .button {
            position: absolute;
            top: 45%;
            background: transparent;
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0;
            opacity: 1;
            pointer-events: auto;
            z-index: 10;
            &.left {
                left: 15px;
            }
            &.right {
                right: 15px;
            }
            .chevron {
                height: 50px;
                width: 50px;
                color: var(--mainColor);
                cursor: pointer;
            }
            &:hover .chevron {
                color: var(--secondColor);
            }
        }
        .favori {
            position: absolute;
            top: 10%;
            right: 15%;
            background: none;
            border: none;
            padding: 0;
            color: var(--favoryColor);
            pointer-events: none;
            svg {
                height: 30px;
                width: 30px;
                stroke: var(--mainTextColor);
                pointer-events: none;
                display: block;
                transition: stroke 0.3s ease, fill 0.3s ease;
                path{
                    pointer-events: auto;
                    cursor: pointer;
                }
            }
            &:hover svg {
                stroke: var(--favoryColor);
            }
            &.active svg {
                stroke: var(--favoryColor);
                fill: var(--favoryColor);
            }
            &.active:hover svg {
                filter: brightness(0.8);
            }
        }
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .price {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    .prix {
        font-size: 24px;
        font-weight: 800;
        margin: 0;
    }
    .reserved {
        font-size: 20px;
        font-weight: 900;
        color: var(--reservedColor);
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 1px;
    }
}
.card.skeleton {
    pointer-events: none;
    .placeholder {
        width: 100%;
        aspect-ratio: 4 / 5;
        background-color: var(--thirdBackgroundColor);
        border-radius: var(--productImageRadius);
    }
    .text {
        height: 29px;
        background-color: var(--thirdBackgroundColor);
        border-radius: 10px;
    }
    .text.short {
        width: 80%;
        margin: 0 auto;
    }
    .text.long {
        width: 30%;
        margin: 0 auto;
    }
}