.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    .card-image {
        position: relative;
        img {
            border-radius: 15%;
            width: 100%;
            aspect-ratio: 4 / 5;
            object-fit: cover;
            display: block;
        }
        .button {
            position: absolute;
            top: 45%;
            background: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            &.left {
                left: 5px;
            }
            &.right {
                right: 5px;
            }
            svg {
                width: 40px;
                height: 40px;
                color: var(--mainColor);
                path {
                pointer-events: auto;
                cursor: pointer;
                transition: stroke 0.2s ease;
                }
                &:hover path {
                    stroke: var(--secondColor);
                }
            }
        }
        .favori {
            position: absolute;
            top: 10%;
            right: 15%;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            color: var(--favoryColor);
            height: 24px;
            width: 24px;
            svg {
                stroke: var(--mainTextColor);
                fill: none;
                transition: stroke 0.3s ease, fill 0.3s ease;
            }
            &:hover svg {
                stroke: var(--favoryColor);
            }
            &.favori-active svg {
                stroke: var(--favoryColor);
                fill: var(--favoryColor);
            }
            &.favori-active:hover svg {
                filter: brightness(0.8);
            }
        }
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
    }
    .prix {
        font-size: 24px;
        font-weight: 800;
    }
}
.card.skeleton {
    pointer-events: none;
    .image-placeholder {
        width: 100%;
        aspect-ratio: 4 / 5;
        background-color: var(--thirdBackgroundColor);
        border-radius: 15%;
    }
    .text-placeholder {
        height: 29px;
        background-color: var(--thirdBackgroundColor);
        border-radius: 10px;
    }
    .text-placeholder.short {
        width: 80%;
        margin: 0 auto;
    }
    .text-placeholder.long {
        width: 30%;
        margin: 0 auto;
    }
}