.leaflet-container {
    border-radius: 50px;
    border: 2px solid var(--mainColor);
    z-index: 1;
}
.leaflet-popup-content-wrapper {
    font-size: 16px;
    color: var(--mainTextColor);
    background: var(--secondBackgoundColor);
    padding: 20px;
    border-radius: 10%;
}
.leaflet-popup-tip {
    background: var(--secondBackgoundColor);
}
.leaflet-control-attribution {
    display: none;
}
.leaflet-control-zoom {
    top: 30px;
    left: 30px;
    border: none;
}