.product {
    padding: 50px 0;
    .conteneur {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        margin: 0 50px;
        padding: 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .card{
            width: 50%;
            svg{
                height: 80px;
                width: 80px;
            }
            .favori{
                top: 10%;
                right: 20%;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            gap: 30px;
            h3{
                font-size: 48px;
                font-weight: 800;
            }
            .price{
                font-size: 48px;
                font-weight: 800;
            }
            .description{
                font-size: 32px;
                font-weight: 800;
            }
        }
    }
}