.favorites {
    padding: 50px 0 50px 0;
    .conteneur {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 50px;
        padding: 30px 50px 50px 50px;
        background-color: var(--secondBackgroundColor);
        border-radius: 50px;
        .loginFav{
            display: flex;
            flex-direction: column;
            gap: 30px;
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 50px;
                font-size: 32px;
                border-radius: 50px;
                border: 3px solid transparent;
                box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transition: border-color 0.3s ease;
                background-color: var(--secondBackgroundColor);
                width: 100%;
                img {
                    height: 40px;
                    width: auto;
                    margin-right: 10px;
                }
                &:hover {
                    border: 3px solid var(--mainColor);
                }
            }
        }
        .empty-message {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 187.5px;
            p {
                font-size: 24px;
                color: var(--thirdColor);
            }
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
        }
    }
}