.box {
    text-align: center;
    background-color: var(--mainBackgroundColor);
    height: fit-content;
    width: 100%;
    padding: 50px;
    border-radius: 50px;
    .calendar {
        background-color: var(--secondBackgroundColor);
        border-bottom-left-radius: 34px;
        border-bottom-right-radius: 34px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: 10px solid #DB6D6D;
        .month {
            padding: 20px 40px 10px 40px;
            font-size: 48px;
        }
        .day {
            padding: 0 40px 10px 40px;
            font-size: 96px;
        }
    }
    .time {
        padding: 50px 0 0 0;
        font-family: 'Share Tech Mono', monospace;
        font-size: 52px;
    }
}
