.order {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0 50px 0;
    .suivi {
        .conteneur {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin: 0 50px;
            padding: 50px;
            background-color: var(--secondBackgroundColor);
            border-radius: 50px;
            .list {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .info {
                            display: flex;
                            align-items: center;
                            gap: 50px;
                            .preview {
                                width: 120px;
                                flex-shrink: 0;
                                img {
                                    height: 150px;
                                    aspect-ratio: 4 / 5;
                                    object-fit: cover;
                                    border-radius: 10px;
                                }
                            }
                            p {
                                width: 150px;
                                flex-shrink: 0;
                            }
                            .total {
                                font-weight: 700;
                                width: 100px;
                                flex-shrink: 0;
                            }
                            .status {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                width: 150px;
                                flex-shrink: 0;
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 60px;
                                    color: var(--mainColor);
                                }
                                .label {
                                    width: 120px;
                                    text-align: center;
                                }
                            }
                        }
                        button {
                            padding: 15px 30px;
                            background-color: var(--mainColor);
                            color: var(--secondTextColor);
                            border: none;
                            border-radius: 25px;
                            font-size: 24px;
                            cursor: pointer;
                            transition: color 0.3s ease, background-color 0.3s ease;
                            &:hover {
                                background-color: var(--secondColor);
                                color: var(--mainTextColor);
                            }
                        }
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        overflow: visible;
                        .tracking {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-start;
                            position: relative;
                            .step {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                                flex: 0 0 auto;
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 60px;
                                    margin-bottom: 15px;
                                    z-index: 2;
                                    color: var(--thirdColor);
                                    position: relative;
                                }
                                .label {
                                    width: 120px;
                                    text-align: center;
                                }
                                &.active {
                                    .icon {
                                        color: var(--mainColor);
                                    }
                                    .label {
                                        color: var(--mainColor);
                                    }
                                }
                            }
                            .connector {
                                flex: 1;
                                display: flex;
                                align-items: center;
                                padding: 0 10px;
                                margin-top: 30px;
                                &::before {
                                    content: '';
                                    width: 100%;
                                    border-top: 10px dotted var(--thirdColor);
                                }
                                &.active::before {
                                    border-top-color: var(--mainColor);
                                }
                            }
                        }
                        .content {
                            display: flex;
                            justify-content: space-between;
                            h3 {
                                color: var(--mainColor);
                            }
                            .infos{
                                display: flex;
                                flex-direction: column;
                                gap: 30px;
                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }
                            }
                            .products {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 30px;
                                .product {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: 10px;
                                    img {
                                        height: 200px;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .historique {
        .conteneur {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin: 0 50px;
            padding: 50px;
            background-color: var(--secondBackgroundColor);
            border-radius: 50px;
            .list {
                display: flex;
                flex-direction: column;
                gap: 30px;
                .item {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .info {
                            display: flex;
                            align-items: center;
                            gap: 50px;
                            .preview {
                                width: 120px;
                                flex-shrink: 0;
                                img {
                                    height: 150px;
                                    aspect-ratio: 4 / 5;
                                    object-fit: cover;
                                    border-radius: 10px;
                                }
                            }
                            p {
                                width: 150px;
                                flex-shrink: 0;
                            }
                            .total {
                                font-weight: 700;
                                width: 100px;
                                flex-shrink: 0;
                            }
                            .status {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 10px;
                                width: 150px;
                                flex-shrink: 0;
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 60px;
                                    color: var(--mainColor);
                                }
                                .label {
                                    width: 120px;
                                    text-align: center;
                                }
                            }
                        }
                        .buttons{
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            button {
                                padding: 15px 30px;
                                background-color: var(--mainColor);
                                color: var(--secondTextColor);
                                border: none;
                                border-radius: 25px;
                                font-size: 24px;
                                cursor: pointer;
                                transition: color 0.3s ease, background-color 0.3s ease;
                                &:hover {
                                    background-color: var(--secondColor);
                                    color: var(--mainTextColor);
                                }
                            }
                        }
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        .content {
                            display: flex;
                            justify-content: space-between;
                            h3 {
                                color: var(--mainColor);
                            }
                            .infos{
                                display: flex;
                                flex-direction: column;
                                gap: 30px;
                                .info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }
                            }
                            .products {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 30px;
                                .product {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: 10px;
                                    img {
                                        height: 200px;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}